body{
    background: rgb(229, 255, 252);
    font-family: Arial, Helvetica, sans-serif;

}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underline{
    width: 90px;
    height: 4px;
    border: 1px solid teal;
    background: teal;
    border-radius: 8px;

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btns-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.job-btn{
    font-size: 1.25rem;
    color: teal;
    background: none;
    border: none;
    border-radius: 1px;
    width: 200px;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.job-btn:hover,.job-btn:focus{
    border-left: 4px solid rgb(0, 160, 160);
    color: rgb(0, 160, 160);

}

.company{
    background: rgb(192, 201, 199);
    padding: 10px;
    width: 7%;
    color: teal;
    border-radius: 5px;
    font-size: 1.15rem;
    text-align: center;
}

.dates{
    color: gray;
}


.duty-text{
    color: rgba(0, 0, 0, 0.8);
    width: 80%;
}
span{
    font-size: 1.5rem;
    color: turquoise;
    font-weight: bolder;
}

.duty-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}